@charset "UTF-8";
#wrap{
	width:890px;
	height:290px;
	border:1px solid black;
	overflow:scroll;
	overflow-x:hidden;
}
#wrap::-webkit-scrollbar {
    width:12px;
}
#wrap::-webkit-scrollbar-thumb {
    background-color: #C6E9AF;
    border-radius: 10px;
}
#wrap::-webkit-scrollbar-track {
    background-color: #ededed;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
#main{
	width:890px;
	height:50px;
	position: relative;
	left: 15px;
}
#sub{
	width:890px;
	height:240px;
	margin:0 auto;
}
th, td{
	padding:0;
	margin:0;
	border:1px solid grey;
}
th{
	background-color:#F2FAE9;
	height:10px;
}
td{
	background-color:#f3faff;
}
#sort1{
	text-align:center;
}
#sort2{
	text-align:left;
}
.num{
	width:50px;
	font-weight: bold;
}
.title{
	width:200px;	
}
.detail{
	width:640px;
}